@page "{categoryId:int?}"
@model Client_Web.Pages.Food.FoodItemsModel
@{
    ViewData["Title"] = "FoodItems";
}
<style>
    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
    }
    input.qtyplus {
        width:25px;
        height:25px;
    }
    input.qtyminus {
        width:25px;
        height:25px;
    }
</style>
<h1>Food Items</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<form method="post">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Food Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        @foreach (var foodItem in Model.FoodItems)
        {
            <tr>
                <td>
                    <input asp-for="@foodItem.Id" hidden name="ItemId" />
                </td>
                <td>
                    <input asp-for="@foodItem.FoodItemName" name="ItemName" />
                </td>
                <td>
                    <input asp-for="@foodItem.Description" name="ItemDescription" />
                </td>
                <td>
                    <input asp-for="@foodItem.Price.00" name="ItemPrice" />
                </td>
                <td>
                    <input asp-for="@foodItem.CategoryId" name="Category" />
                </td>
                <td>
                    <input asp-for="ShoppingCart.Quantity" name='Quantity' />
                </td>
                <td>
                    <input type="submit" value="Add to cart" class="btn btn-success" />
                </td>
            </tr>
         }
    </table>
</form>